<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yjb">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 读取手机联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- 读取手机联系人权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" /> <!-- 指纹权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_INTENT_SENDER_INTENT" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 通知震动效果权限 -->
    <!-- 安卓8.0打开apk安装更新 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.yjb.app.HuoHuoApp"
        android:allowBackup="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">
        <activity android:name="com.yjb.ui.main.finance.TeamIntroActivity"></activity>
        <activity android:name="com.yjb.ui.main.finance.YiBestActivity" />
        <activity android:name="com.yjb.ui.main.finance.YiApplyActivity" />
        <activity android:name="com.yjb.ui.main.finance.YiFcDetailActivity" />
        <activity android:name="com.yjb.ui.main.finance.DuiWuDetailActivity" />
        <activity android:name="com.yjb.ui.main.finance.YiFcActivity" />
        <activity android:name="com.yjb.ui.main.finance.ScoreActivity" />
        <activity android:name="com.yjb.ui.main.mine.AcDetailActivity" />
        <activity android:name="com.yjb.ui.main.mine.MyAcActivity" />
        <activity android:name="com.yjb.ui.main.msg.NewsDetailActivity" />
        <activity android:name="com.yjb.ui.main.shop.ShopRecordActivity" />
        <activity android:name="com.yjb.ui.main.shop.ShopActivity" />
        <activity android:name="com.yjb.ui.main.activi.YjActivity" />

        <service
            android:name="com.yjb.im.SocketService"
            android:exported="false" />

        <activity
            android:name="com.yjb.ui.splash.TranslucentActivity"
            android:theme="@style/AppTransparentBg" />
        <activity android:name="com.yjb.ui.splash.SplashActivity" />
        <activity
            android:name="com.yjb.ui.main.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.yjb.ui.user.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yjb.ui.user.InputLoginCodeActivity" />
        <activity android:name="com.yjb.ui.user.RegistActivity" />
        <activity android:name="com.yjb.ui.set.LanguageActivity" />
        <activity android:name="com.yjb.ui.sys.PhoneCodeActivity" />
        <activity android:name="com.yjb.ui.spread.SpreadIntroduceActivity" />
        <activity android:name="com.yjb.ui.user.MobileCodeActivty" />
        <activity android:name="com.yjb.ui.web.HuoHuoWebViewActivity" />
        <activity android:name="com.yjb.ui.main.home.ModuleEditActivity" />
        <activity
            android:name="com.yjb.ui.main.msg.FriendActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.yjb.ui.main.msg.NewFriendActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.yjb.ui.main.msg.SearchFriendActivity" />
        <activity android:name="com.yjb.ui.main.msg.FriendInfoActivity" />
        <activity
            android:name="com.yjb.ui.main.msg.GroupActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.yjb.ui.main.msg.SearchUserActivity" />
        <activity android:name="com.yjb.ui.main.msg.AddFriendActivity" />
        <activity
            android:name="com.yjb.ui.main.msg.PhoneFriendActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.yjb.ui.scan.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTranslate" />
        <activity android:name="com.yjb.ui.asset.AllAssetActvity" />
    </application>

</manifest>